#MarcoConfig{
    width: 800px; height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#MarcoConfig h1{
    padding: 10px 0;
    font-size: 25px;
    background-color: var(--fondoTitulo2); color: var(--letraTitulo2);
    text-align: center;
}

#MarcoConfig a{
    text-decoration: none;
    margin: 10px auto;
    padding: 5px 15px;
    font-size: 20px;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#MarcoConfig a:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}

.marcoOpcion{
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--borde1);
    background-color: var(--fondoBotones2);
    cursor: pointer;
    display: flex;
}

.marcoOpcion:hover, #plantillaHV:hover{
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.marcoOpcion i{
    color: var(--fondoBotones1);
    margin: 25px 10px;
    margin-left: auto;
    font-size: 30px;
    font-weight: normal;
}

.marcoOpcion #document{
    color: var(--letra1);
    margin: 0 10px;
    font-size: 65px;
    font-weight: normal;
}

.marcoOpcion h2{
    color: var(--letra1);
    margin: 30px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: normal;
}

.seleccionador{
    font-size: 65px;
}

#btnAdjuntar{
    display: inline;
}

#btnPlantilla{
    display: none;
}

@media screen and (max-width:800px) {
    #MarcoConfig{
        width: auto;
    }

    #MarcoConfig a{
        margin: 5px auto;
        font-size: 20px;
    }

    .marcoOpcion{
        height: auto;
    }
        
    .marcoOpcion #document{
        font-size: 35px;
    }

    .marcoOpcion h2{
        margin: auto;
        font-size: 15px;
        font-weight: normal;
    }

    .marcoOpcion i{
        margin: auto 5px;
        margin-left: auto;
        font-size: 15px;
        font-weight: normal;
    }
}