#MarcoContentCursos{
    display: flex;
    flex-direction: column;
}

#MarcoContentCursos h1{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: var(--letratitulo1);
}

#MarcoContentCursos iframe{
    background-color: black;
    border: 3px solid var(--borde1);
    margin: 0 auto;
    margin-bottom: 10px;
    width: 962px; 
    height: 565px;
}

#MarcoContentCursos a{
    width: 962px;
    text-decoration: none;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

#MarcoContentCursos a:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}

#MarcoContentCursos a h5{
    display: none;
}

@media screen and (max-width:1000px) {
    #MarcoContentCursos iframe{
        width: 100%; 
        height: 500px;
    }

    #MarcoContentCursos{
        width: 100%; 
    }
}

@media screen and (max-width:600px) {
    #MarcoContentCursos iframe{
        height: 300px;
    }
}