/* Marco general */
#MarcoCursos{
    display: flex;
}

.linea{
    height: 1px; width: 90%;
    border-bottom: 1px solid var(--borde1);
    margin: 5px auto;
}

#filtros, #listaCursos{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Filtros */
#filtros{
    background-color: var(--fondo1);
    width: 250px; height: 1125px;
    margin-right: 5px;
    margin-left: auto;
}

#filtros h1{
    background-color: var(--fondoTitulo2);
    color: var(--letraTitulo2);
    cursor: default;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    text-align: center;
    margin-left: 10px;
}

#filtros h2{
    color: var(--letratitulo1);
    cursor: default;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 10px;
}

#MensajeLenguajes{
    cursor: default;
    margin: 2px auto;
    color: var(--letra1);
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.contentFiltro{
    color: var(--letra1);
    cursor: default;
    height: 30px; width: 270px;
    margin: 2px auto;
    font-size: 15px;
    margin-left: 14px;
}

.contentFiltro:hover{
    color: var(--letratitulo1);
}

.contentFiltro i{
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contentFiltro i:hover{
    filter: drop-shadow(0px 0px 1px var(--borde1));
}

/* Cursos */
#listaCursos{
    width: 800px; height: 1125px;
    background-color: var(--fondo1);
    margin-left: 5px;
    padding-bottom: 5px;
    margin-right: auto;
}

/* Cursos Content */
.contentCurso{
    width: 100%; height: 215px;
    background-color: var(--fondo1);
    position: relative;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid var(--borde1);
}

.contentCurso:hover{
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.contentCurso img{
    width: 280px; height: 100%;
}

.infoCurso{
    width: 400px; height: 100%;
    margin: 0 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.infoCurso h1{
    color: var(--letratitulo1);
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.infoCurso p{
    color: var(--letra1);
    overflow: hidden;
    height: 65px;
    font-size: 15px;
    margin: 0;
    margin-bottom: auto;
}

.infoCurso i{
    color: var(--letra1);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0px;
}

.precioCurso{
    width: 70px;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

/* Nav Cursos */
#ordenCursos{
    width: 100%; height: 30px;
    margin-top: 10px;
}

#ordenCursos ul{
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

#ordenCursos ul li{
    margin: 0 5px;
}

#ordenCursos ul li a{
    text-decoration: none;
    cursor: pointer;
}

#ordenCursos ul li .nav{
    color: var(--letra1);
}

#ordenCursos ul li .nav:hover{
    color: var(--letratitulo1);
}

#ordenCursos ul li .nav_active{
    color: var(--hFondoBotones1);
}

#ordenCursos ul li .direccion{
    padding: 0 5px;
    font-weight: bold;
    border: 1px solid var(--borde1);
    border-radius: 10px;
}

@media screen and (max-width:1100px) {
    #MarcoCursos{
        display: flex;
        flex-direction: column;
    }

    /* Filtros */
    #filtros{
        overflow: hidden;
        width: 100%; height: auto;
        display: flex;
        flex-direction: column;
    }
    
    #filtros h1{
        padding: 0;
        margin: 0;
    }

    .seccionFiltros{
        height: auto;
    }

    .seccionFiltros h2{
        text-align: center;
    }

    .numFiltros{
        display: flex;
        flex-wrap: wrap;
    }

    .contentFiltro{
        flex: 0 0 calc(33.33% - 20px);
        height: auto;
        align-content: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    /* Cursos */
    #listaCursos{
        overflow: hidden;
        width: 100%; height: auto;
        margin: 0px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .contentCurso{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .contentCurso img{
        margin: auto;
        margin-bottom: 10px;
    }

    .infoCurso{
        text-align: center;
        width: auto;
    }

    .infoCurso h1{
        overflow-wrap: break-word;
        height: auto; width: 100;
    }
    
    .infoCurso p{
        overflow-wrap: break-word;
        margin-bottom: 10px;
        height: auto; width: 100%;
    }

    .precioCurso{
        width: 100%;
        margin: 5px;
        padding-right: 10px;
        text-align: right;
    }
}

@media screen and (max-width:340px) {
    .contentCurso img{
        width: 170px;
    }
}