@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px; padding: 0px;
    font-family: "Quicksand", sans-serif; font-size: 20px;
}

#carouselExampleDark{
    width: 800px; height: 210px;
    margin: 10px auto;
    border: 5px solid var(--letratitulo1);
    display: block;
}

.d-block{
    width: 800px; height: 200px;
}

.contImg{
    padding: 5px;
    width: 100%;
}

.contImg img{
    border: 3px solid var(--letratitulo1);
    width: 100%; height: 100%;
}

.infoCont{
    width: 800px;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#ultimoCont{
    margin-bottom: 30px;
}

.infoCont img{
    width: 250px; height: 250px;
    border: 5px solid var(--letratitulo1);
    border-radius: 500px;
    margin: 10px auto;
}

.infoMensaje{
    margin: auto 50px;
    text-align: center;
}

.infoMensaje h1{
    color: var(--letratitulo1); height: auto;
    border-bottom: 1px solid var(--borde1);
    font-size: 30px;
}

.infoMensaje p{
    margin: auto;
    text-align: center;
    color: var(--letra1);
    width: 500px; height: auto;
    font-size: 25px;
}


@media screen and (max-width:1200px) {
    .infoCont{
        display: flex;
        flex-direction: column;
    }

    .infoCont img{
        margin: auto;
        margin-top: 10px;
        width: 200px; height: 200px;
        order: 1;
    }

    .infoMensaje{
        margin: auto;
        margin-top: 10px;
        order: 2;
    }
    
    .infoMensaje h1{
        font-size: 150%;
    }

    .infoMensaje p{
        width: auto;
        font-size: 120%;
    }
}

@media screen and (max-width:800px) {
    #carouselExampleDark{
        width: 100%; height: 160px;
    }
    
    .d-block{
        width: 100%; height: 150px;
    }
}