#MarcoOfertas{
    display: flex;
}

.linea{
    height: 1px; width: 90%;
    border-bottom: 1px solid var(--borde1);
    margin: 5px auto;
}

#CerrarInfo{
    width: 100%; height: 100%;
    position: absolute;
    z-index: 0;
}

#filtros, #listOfertas{
    background-color: var(--fondo1);
    display: flex;
    flex-direction: column;
    margin: 20px;
    z-index: 1;
}

/* Filtros */
#filtros{
    width: 250px; height: 1125px;
    margin-right: 5px;
    margin-left: auto;
}

#filtros #filtrado{
    display: none;
}

#filtros h1{
    background-color: var(--fondoTitulo2);
    color: var(--letraTitulo2);
    cursor: default;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    text-align: center;
    margin-left: 10px;
}

#filtros h2{
    color: var(--letratitulo1);
    cursor: default;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-left: 10px;
}

#filtros a{
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    padding: 0 10px;
    display: block;
    font-size: 18px;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#filtros a:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}

.contentFiltro{
    color: var(--letra1);
    cursor: default;
    height: 30px; width: 270px;
    margin: 2px auto;
    font-size: 15px;
    margin-left: 14px;
}

.contentFiltro:hover{
    color: var(--letratitulo1);
}

.contentFiltro i{
    margin-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contentFiltro i:hover{
    filter: drop-shadow(0px 0px 1px var(--borde1));
}

/* Lista Ofertas */
#listOfertas{
    width: 800px; height: 1125px;
    margin-left: 5px;
    margin-right: auto;
}

.ofertaElement{
    background-color: var(--fondo1);
    width: 100%; height: 215px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid var(--borde1);
}

.ofertaElement:hover{
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.ofertaElement h1{
    height: auto;
    font-weight: bold;
    color: var(--letraTitulo2); 
    background-color: var(--fondoTitulo2);
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.ofertaElement p, .ofertaElement h5{
    display: none;
}

.ofertaElement i{
    color: var(--letra1);
    overflow: hidden;
    margin: 0px;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
}

/* Nav Ofertas */
#ordenOfertas{
    width: 100%; height: 30px;
    margin-top: 10px;
}

#ordenOfertas ul{
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

#ordenOfertas ul li{
    margin: 0 5px;
}

#ordenOfertas ul li a{
    text-decoration: none;
    cursor: pointer;
}

#ordenOfertas ul li .nav{
    color: var(--letra1);
}

#ordenOfertas ul li .nav:hover{
    color: var(--letratitulo1);
}

#ordenOfertas ul li .nav_active{
    color: var(--hFondoBotones1);
}

#ordenOfertas ul li .direccion{
    padding: 0 5px;
    font-weight: bold;
    border: 1px solid var(--borde1);
    border-radius: 10px;
}

/* Info Ofertas */
#infoOfertas{
    z-index: 2;
    background-color: var(--fondo1);
    height: auto; width: 0;
    overflow: hidden;
    padding: 0;
    top: 70px; right: 0;
    transition: width 0.5s;
    display: flex;
    position: absolute;
    flex-direction: column;
}

#infoOfertas #cerrar{
    color: var(--letra1);
    margin-right: 5px;
    align-self: flex-end;
    right: 10px;
    cursor: pointer;
}

#elementsOferta{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    display: block;
}

#elementsOferta h1{
    height: auto;
    font-size: 25px;
    color: var(--letraTitulo2);
    padding: 10px;
    background-color: var(--fondoTitulo2);
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

#elementsOferta h2{
    color: var(--letratitulo1);
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid var(--borde1);
}

#elementsOferta a{
    width: 95px;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    font-size: 20px;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

#elementsOferta a:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}

#elementsOferta i{
    color: var(--letra1);
    height: 22px;
    display: block;
    margin: 0px;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}

#elementsOferta p{
    color: var(--letra1);
    margin: 5px;
    margin-top: 5px;
    font-size: 18px;
}

@media screen and (max-width:1100px) {
    #MarcoOfertas{
        display: flex;
        flex-direction: column;
    }

    /* Filtros */
    #filtros{
        overflow: hidden;
        width: 100%; height: auto;
        display: flex;
        flex-direction: column;
    }
    
    #filtros h1{
        padding: 0;
        margin: 0;
    }

    .seccionFiltros{
        height: auto;
    }

    .seccionFiltros h2{
        text-align: center;
    }

    .numFiltros{
        display: flex;
        flex-wrap: wrap;
    }

    .contentFiltro{
        flex: 0 0 calc(33.33% - 20px);
        height: auto;
        align-content: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #listOfertas{
        margin: 0px;
        width: 100%;
    }

    #infoOfertas{
        display: none;
    }
}