#MarcoOfertasInfo{
    width: auto; height: auto;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
}

#MarcoOfertasInfo h1{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    width: 100%; height: auto;
    background-color: var(--fondoTitulo2); color: var(--letraTitulo2);
    padding: 10px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#MarcoOfertasInfo h2{
    color: var(--letratitulo1);
    font-weight: bold; font-size: 20px;
    margin: 15px 5px;
    margin-bottom: 0;
}

#MarcoOfertasInfo i{
    color: var(--letra1);
    overflow: hidden;
    margin: 0 5px;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}

#MarcoOfertasInfo p{
    color: var(--letra1);
    font-size: 15px;
    margin: 5px 5px;
    border-top: 1px solid var(--borde1);
    padding: 5px;
}

#MarcoOfertasInfo a, #MarcoOfertasInfo button{
    width: 100%;
    border: none;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 5px auto;
    padding: 0 80px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#MarcoOfertasInfo a:hover, #MarcoOfertasInfo button:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}