#MarcoOfertas{
    display: flex;
    margin: 10px 0;
    
}

#CerrarInfo{
    width: 100%; height: 100%;
    position: absolute;
    z-index: 0;
}

/* Lista Ofertas */
#listOfertas{
    height: auto; width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    padding-bottom: 5px;
    z-index: 1;
}

.ofertaElement{
    background-color: white;
    width: 100%; height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.ofertaElement:hover{
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.ofertaElement h1{
    height: auto;
    font-weight: bold;
    color: white; 
    background-color: #250338;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.ofertaElement i{
    overflow: hidden;
    margin: 0px;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
}

/* Nav Ofertas */
#ordenOfertas{
    width: 100%; height: 30px;
    margin-top: 10px;
}

#ordenOfertas ul{
    margin-right: 50px;
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

#ordenOfertas ul li{
    margin: 0 5px;
}

#ordenOfertas ul li a{
    text-decoration: none;
    cursor: pointer;
}

#ordenOfertas ul li .nav{
    color: black;
}

#ordenOfertas ul li .nav:hover{
    color: #8928bd;
}

#ordenOfertas ul li .nav_active{
    color: #5a16b2;
}

#ordenOfertas ul li .direccion{
    padding: 0 5px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 10px;
}

/* Info Ofertas */
#infoOfertas{
    z-index: 2;
    background-color: white;
    height: auto; width: 0;
    overflow: hidden;
    padding: 0;
    top: 70px; right: 0;
    transition: width 0.5s;
    display: flex;
    position: absolute;
    flex-direction: column;
}

#infoOfertas #cerrar{
    margin-right: 5px;
    align-self: flex-end;
    right: 10px;
    cursor: pointer;
}

#elementsOferta{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    display: block;
}

#elementsOferta h1{
    height: auto;
    font-size: 25px;
    color: white;
    padding: 10px;
    background-color: #250338;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

#elementsOferta h2{    
    font-size: 20px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

#elementsOferta a{
    width: 95px;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    font-size: 20px;
    color: white; background-color: #8021bb;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
}

#elementsOferta a:hover{
    background-color: #560581; color: #2e0346;
}

#elementsOferta i{
    height: 22px;
    display: block;
    margin: 0px;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}

#elementsOferta p{
    margin: 5px;
    margin-top: 5px;
    font-size: 18px;
}

@media screen and (max-width:700px) {
    #listOfertas{
        margin: 0px;
        width: 100%;
    }

    #infoOfertas{
        display: none;
    }
}