{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'estudiantes/css/Colores.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/Configuracion.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/ModalConfig.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/hojaVida.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'estudiantes/js/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a href="{% url 'Inicio' %}" class="options">Inicio</a>
            <a href="{% url 'Cursos' %}" class="options">Cursos</a>
            <a href="{% url 'Ofertas' %}" class="options">Ofertas</a>

            <div class="linea"></div>

            <a id="btn_icono_active"><i class="fas fa-cog"></i></a>
            <a id="btn_icono" href="{% url 'home' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

        <!-- MENU MOVIL -->
        <div id="menuMovil" onclick="activarMenu()">&#9776;</div>
        <div id="menuHamburguersa">
            <div id="Elementos">
                <div id="btnCerrar" onclick="activarMenu()">&times;</div>
                <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

                <div class="linea"></div>

                <h1>Navegación</h1>
                <a href="{% url 'Inicio' %}" class="options">Inicio</a>
                <a href="{% url 'Cursos' %}" class="options">Cursos</a>
                <a href="{% url 'Ofertas' %}" class="options">Ofertas</a>
                <a class="options_active">Configuración</a>

                <div class="linea"></div>

                <a href="{% url 'home' %}" class="logOut">Log out</a>
            </div>
        </div>
    </header>

    <!-- Configuración Interfaz -->
    <div id="MarcoConfig">
        <h1>INFORMACIÓN PERSONAL</h1>
        <div onclick="modalConfig('usuActive')" class="marcoOpcion"><i id="document" class="bi bi-person"></i><h2>MODIFICAR USUARIO</h2></div>
        <div onclick="modalConfig('contraActive')" class="marcoOpcion"><i id="document" class="bi bi-person-lock"></i><h2>MODIFICAR CONTRASEÑA</h2></div>

        <h1>HOJA DE VIDA</h1>
            <div class="marcoOpcion" onclick="cambiarHV('adjuntar')"><i id="document" class="bi bi-file-earmark-text"></i><h2>ADJUNTAR DOCUMENTO</h2><i id="hvElect1" class="bi bi-circle-fill"></i></div>
            <div class="marcoOpcion" onclick="cambiarHV('plantilla')"><i id="document" class="bi bi-file-earmark-person"></i><h2>UTILIZAR PLANTILLA</h2><i id="hvElect2" class="bi bi-circle"></i></div>
            <div id="botonesHV">
                <div id="btnAdjuntar"><a>Adjuntar</a><a onclick="modalConfig('NoDocumentActive')">Visualizar</a></div>
                <div id="btnPlantilla"><a onclick="modalConfig('hvMActive')">Modificar</a><a onclick="modalConfig('hvActive')">Visualizar</a></div>
            </div>
        
        <h1>TEMA</h1>
        <div class="marcoOpcion" onclick="cambiarTema('claro')"><i id="document" class="bi bi-brightness-high"></i><h2>CLARO</h2><i id="temaElect1"></i></div>
        <div class="marcoOpcion" onclick="cambiarTema('oscuro')"><i id="document" class="bi bi-moon"></i><h2>OSCURO</h2><i id="temaElect2"></i></div>
    </div>

    <!-- Modal -->
    <div id="modalConfig">
        <!-- MODAL CAMBIAR USUARIO -->
        <div id="modalUsu">
            <h1>CAMBIAR USUARIO</h1>
            <p>
                No repitas el mismo usuario y procura evitar caracteres extraños.
                <br>
                Nuevo usuario:
            </p>
            <input type="text">
            <div class="botones">
                <a onclick="modalConfig('usuDesactive')" class="btnIzquierda">Regresar</a>
                <a>Aplicar</a>
            </div>

        </div>

        <!-- MODAL CAMBIAR CONTRASEÑA -->
        <div id="modalContra">
            <h1>CAMBIAR CONTRASEÑA</h1>
            <p>
                No repitas la misma contraseña y procura evitar caracteres extraños.
                <br>
                Antigua contraseña:
            </p>
            <input type="text">
            <p>
                Nueva contraseña:
            </p>
            <input type="text">
            <p>
                Repite nueva contraseña:
            </p>
            <input type="text">

            <div class="botones">
                <a onclick="modalConfig('contraDesactive')" class="btnIzquierda">Regresar</a>
                <a>Aplicar</a>
            </div>
        </div>

        <!-- HOJA DE VIDA -->
        <div id="modalHV">
            <div id="hojaVida">
                <div class="marco">
                    <div class="izquierda">
                        <i id="imgPerfil" class="bi bi-person-circle"></i>
        
                        <h1>DATOS PERSONALES</h1>
                        <div class="minContent">
                            <i class="fab fa-whatsapp"></i>
                            <h2>+57 333 333 33 33</h2>
                        </div>
                        <div class="minContent">
                            <i class="bi bi-envelope"></i>
                            <h2>correo_master121212@correo.edu.co</h2>
                        </div>
                        <div class="minContent">
                            <i class="bi bi-geo-alt"></i>
                            <h2>Cra 33 #33-33</h2>
                        </div>
        
                        <h1>APTITUDES</h1>
                        <div class="lista">
                            <h2>APTITUD</h2>
                            <h2>APTITUD</h2>
                            <h2>APTITUD</h2>
                            <h2>APTITUD</h2>
                            <h2>APTITUD</h2>
                        </div>
        
                        <h1>IDIOMAS</h1>
                        <div class="minContent">
                            <i class="bi bi-emoji-laughing"></i>
                            <h2>C2</h2>
                            <h2>ESPAÑOL</h2>
                        </div>
                        <div class="minContent">
                            <i class="bi bi-emoji-neutral"></i>
                            <h2>B1</h2>
                            <h2>INGLES</h2>
                        </div>
                        <div class="minContent">
                            <i class="bi bi-emoji-frown"></i>
                            <h2>A1</h2>
                            <h2>CATALAN</h2>
                        </div>
        
                        <h1>CONOCIMIENTOS</h1>
                        <div class="lista">
                            <h2>JAVA</h2>
                            <h2>C++</h2>
                            <h2>PYTHON</h2>
                        </div>
        
                    </div>
                    <div class="derecha">
                        <h3>JOSE IGNACIO GUADALUPE TERCERO</h3>
        
                        <h1>EXPERIENCIA LABORAL</h1>
                        <div class="infoExp">
                            <h2>NOMBRE_CARGO</h2>
                            <h4>NOMBRE_EMPRESA</h4>
                            <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero odio repudiandae
                                porro eveniet odit laudantium laborum a quasi corporis, dolores nostrum! Inventore natus dolore
                                autem? Ut tempora labore quisquam. Dolor, quae eligendi unde earum, itaque commodi corrupti
                                minima quisquam fuga est voluptate ipsum error, id soluta saepe reiciendis sequi quis ut! Quas
                                dolore commodi repudiandae beatae excepturi incidunt voluptate impedit, libero nulla numquam
                                natus alias nisi cupiditate debitis, deserunt id, et porro. Itaque ex enim, aliquid facilis
                                dolor nesciunt sed est? Quidem, magnam minima nihil dolores sed accusantium in adipisci eius?
                                Excepturi fugit dignissimos nam error, aliquam tempora velit libero.</p>
                        </div>
                        <div class="infoExp">
                            <h2>NOMBRE_CARGO</h2>
                            <h4>NOMBRE_EMPRESA</h4>
                            <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero odio repudiandae
                                porro eveniet odit laudantium laborum a quasi corporis, dolores nostrum! Inventore natus dolore
                                autem? Ut tempora labore quisquam. Dolor, quae eligendi unde earum, itaque commodi corrupti
                                minima quisquam fuga est voluptate ipsum error, id soluta saepe reiciendis sequi quis ut! Quas
                                dolore commodi repudiandae beatae excepturi incidunt voluptate impedit, libero nulla numquam
                                natus alias nisi cupiditate debitis, deserunt id, et porro. Itaque ex enim, aliquid facilis
                                dolor nesciunt sed est? Quidem, magnam minima nihil dolores sed accusantium in adipisci eius?
                                Excepturi fugit dignissimos nam error, aliquam tempora velit libero.</p>
                        </div>
        
                        <h1>FORMACIÓN ACADÉMICA</h1>
                        <div class="infoExp">
                            <h2>NOMBRE_TITULO</h2>
                            <h4>NOMBRE_INSTITUCIÓN</h4>
                            <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                        </div>
                        <div class="infoExp">
                            <h2>NOMBRE_TITULO</h2>
                            <h4>NOMBRE_INSTITUCIÓN</h4>
                            <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botones">
                <a onclick="modalConfig('hvDesactive')" class="btnIzquierda">Regresar</a>
                <a onclick="descargarPDF()">Descargar</a>
            </div>
        </div>
        
        <!-- AVISO DE NO HAY DOCUMENTO -->
        <div id="modalNoDocument">
            <h1>ERROR</h1>
            <p>No existe documento adjunto.</p>
            <div class="botones">
                <a onclick="modalConfig('NoDocumentDesactive')" class="btnIzquierda">Regresar</a>
            </div>
        </div>

        <!-- MODIFICAR HOJA DE VIDA -->
        <div id="modalHVM">
            <h1>MODIFICAR HOJA DE VIDA</h1>
            <h3>Datos Personales</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Celular</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Correo</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Dirección</p>
                    <input type="text">
                </div>
            </div>

            <h3>Aptitudes</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de aptitudes a mostrar.</p>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>1</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>2</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>3</p>
                    <input type="text">
                </div>
            </div>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>4</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>5</p>
                    <input type="text">
                </div>
            </div>

            <h3>Idiomas</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de idiomas a mostrar.</p>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>1</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>2</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>3</p>
                    <input type="text">
                </div>
            </div>

            <h3>Conocimimentos</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de conocimientos a mostrar.</p>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>1</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>2</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>3</p>
                    <input type="text">
                </div>
            </div>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>4</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>5</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>6</p>
                    <input type="text">
                </div>
            </div>

            <h3>Experiencia laboral 1</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Cargo</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Empresa</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Fecha inicio/final</p>
                    <input type="text">
                </div>
            </div>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Descripción</p>
                    <textarea></textarea>
                </div>
            </div>

            <h3>Experiencia laboral 2</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Cargo</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Empresa</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Fecha inicio/final</p>
                    <input type="text">
                </div>
            </div>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Descripción</p>
                    <textarea></textarea>
                </div>
            </div>

            <h3>Formación Académica 1</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Título</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Institución</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Fecha inicio/final</p>
                    <input type="text">
                </div>
            </div>

            <h3>Formación Académica 2</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Título</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Institución</p>
                    <input type="text">
                </div>
                <div class="oneElementModify">
                    <p>Fecha inicio/final</p>
                    <input type="text">
                </div>
            </div>

            <div class="botones">
                <a onclick="modalConfig('hvMDesactive')" class="btnIzquierda">Regresar</a>
                <a>Aplicar</a>
            </div>
        </div>
     </div>

    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    <!-- Scripts jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <!-- Scripts js -->
    <script src="{% static 'estudiantes/js/navBar.js' %}"></script>
    <script src="{% static 'estudiantes/js/Configuraciones.js' %}"></script>
    <script>seleccionTema();</script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>