{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CursosInfo</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'estudiantes/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/CursosInfo.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'estudiantes/js/Front/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <script>
        const urlCursos = "{% url 'CursosContent' %}";
    </script>


    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a href="{% url 'Inicio' %}" class="options">Inicio</a>
            <a class="options_active">Cursos</a>
            <a href="{% url 'Ofertas' %}" class="options">Ofertas</a>

            <div class="linea"></div>

            <a id="btn_icono" href="{% url 'Configuracion' %}"><i class="fas fa-cog"></i></a>
            <a id="btn_icono" href="{% url 'home' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

        <!-- MENU MOVIL -->
        <div id="menuMovil" onclick="activarMenu()">&#9776;</div>
        <div id="menuHamburguersa">
            <div id="Elementos">
                <div id="btnCerrar" onclick="activarMenu()">&times;</div>
                <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

                <div class="linea"></div>

                <h1>Navegación</h1>
                <a href="{% url 'Inicio' %}" class="options">Inicio</a>
                <a class="options_active">Cursos</a>
                <a href="{% url 'Ofertas' %}" class="options">Ofertas</a>
                <a href="{% url 'Configuracion' %}" class="options">Configuración</a>

                <div class="linea"></div>

                <a href="{% url 'home' %}" class="logOut">Log out</a>

            </div>
        </div>
    </header>

    <!-- INTERFAZ INFOCURSOS -->
    <div id="MarcoInfoCursos">
        <h1>{{ curso.1 }}</h1>
        <img src="{% static curso.8 %}" alt="">
        <i class="bi bi-cash"> : {{ curso.7 }}</i>
        <i class="bi bi-terminal"> : {{ curso.3 }}</i>
        <i class="bi bi-bar-chart-fill"> : {{ curso.4 }}</i>
        <i class="bi bi-clock"> : {{ curso.5 }}</i>
        <i class="bi bi-file-earmark-text"> : {{ curso.6 }}</i>

        <div id="btnesNavs">
            <a>Aplicar</a>
            <a href="{% url 'Cursos' %}">Regresar</a>
        </div>
        

        <h2>Descripción</h2>
        <p>{{ curso.2 }}</p>
        

        <!-- CONTENIDO DE CURSOS (ME VOY A VOLVER LOCO CON TANTOS ARRAYS) -->
        <h2>Contenido</h2>
        {% for content in contentCursos %}
            <div class="contentCursos">
                <div id="superior" onclick="ContenidoCursos(this)">
                    <p>{{ content.nombre }}</p>
                    <i class="bi bi-arrow-bar-down"></i>
                </div>
                <div id="inferior">
                    {% for tema in content.temas %}
                    <div class="contenido" onclick="abrirContent(urlCursos, this)">
                        <p>{{ tema.tema }}</p>
                        <h5>{{ tema.enlace }}</h5>
                        <h6>{{ curso.0 }}</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <p id="bloqueoContent">Aplica al curso para desbloquear el contenido.</p>
    </div>
    
    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    <!-- Scripts js -->
    <script src="{% static 'estudiantes/js/Front/navBar.js' %}"></script>
    <script src="{% static 'estudiantes/js/Front/cursos.js' %}"></script>
    <script src="{% static 'estudiantes/js/Front/CursosContent.js' %}"></script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>