{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'estudiantes/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/oferta.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/OfertasPago.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'estudiantes/js/Front/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a href="{% url 'Inicio' %}" class="options">Inicio</a>
            <a href="{% url 'Cursos' %}" class="options">Cursos</a>
            <a class="options_active">Ofertas</a>

            <div class="linea"></div>

            <a id="btn_icono" href="{% url 'Configuracion' %}"><i class="fas fa-cog"></i></a>
            <a id="btn_icono" href="{% url 'home' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>

        <!-- MENU MOVIL -->
        <div id="menuMovil" onclick="activarMenu()">&#9776;</div>
        <div id="menuHamburguersa">
            <div id="Elementos">
                <div id="btnCerrar" onclick="activarMenu()">&times;</div>
                <img id="logo" src="{% static 'estudiantes/img/navBar/Logo2.png' %}" alt="">

                <div class="linea"></div>

                <h1>Navegación</h1>
                <a href="{% url 'Inicio' %}" class="options">Inicio</a>
                <a href="{% url 'Cursos' %}" class="options">Cursos</a>
                <a class="options_active">Ofertas</a>
                <a href="{% url 'Configuracion' %}" class="options">Configuración</a>

                <div class="linea"></div>

                <a href="{% url 'home' %}" class="logOut">Log out</a>
            </div>
        </div>
    </header>

    <!-- Ofertas interfaz -->
    <div id="MarcoOfertas">
        <div id="CerrarInfo" onclick="cerrarInfo()"></div>
        <div id="filtros">
            <h1>Filtros</h1>
            <label class="linea"></label>

            <div class="seccionFiltros">
                <h2>Salario:</h2>
                <div class="numFiltros">
                    <div class="contentFiltro"><i id="5_1Filter" onclick="filtro_salario('5_1')" class="bi bi-square"></i>500.000 / 1.000.000</div>
                    <div class="contentFiltro"><i id="1_2Filter" onclick="filtro_salario('1_2')" class="bi bi-square"></i>1.100.000 / 2.000.000</div>
                    <div class="contentFiltro"><i id="2_3Filter" onclick="filtro_salario('2_3')" class="bi bi-square"></i>2.100.000 / 3.000.000</div>
                </div>
            </div>

            <label class="linea"></label>

            <div class="seccionFiltros">
                <h2>Contrato:</h2>
                <div class="numFiltros">
                    <div class="contentFiltro"><i id="FijoFilter" onclick="filtro_contrato('Fijo')" class="bi bi-square"></i>Fijo</div>
                    <div class="contentFiltro"><i id="IndefinidoFilter" onclick="filtro_contrato('Indefinido')" class="bi bi-square"></i>Indefinido</div>
                    <div class="contentFiltro"><i id="ObraLaborFilter" onclick="filtro_contrato('ObraLabor')" class="bi bi-square"></i>Obra o Labor</div>
                    <div class="contentFiltro"><i id="AprendizajeFilter" onclick="filtro_contrato('Aprendizaje')" class="bi bi-square"></i>Aprendizaje</div>
                </div>
            </div>

            <a>Aplicar Filtros</a>
        </div>

        <div id="listOfertas">
            {% for data in ofertas_data %}
                <div class="ofertaElement" onclick="activarInfo(this)">
                    <h1>{{ data.nombre_oferta }}</h1>
                    <i class="bi bi-person"> : 1 Aplicados</i>
                    <i class="bi bi-terminal"> : 
                        {% for conocimiento in data.conocimientos %}
                            {{ conocimiento.nom_con }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </i>
                    <i class="bi bi-cash"> : {{ data.salario }}</i>
                    <i class="bi bi-briefcase"> : 
                        {% if data.tipoCont.id_tipo_cont == 1 %}
                            Término Fijo
                        {% elif data.tipoCont.id_tipo_cont == 2 %}
                            Término Indefinido
                        {% elif data.tipoCont.id_tipo_cont == 3 %}
                            Obra o Labor
                        {% elif data.tipoCont.id_tipo_cont == 4 %}
                            Aprendizaje
                        {% else %}
                            Tipo de contrato desconocido
                        {% endif %}
                    </i>
                    <p>{{ data.descripcion }}</p>
                    <h5>{{ data.id_oferta }}</h5>
                </div>   
            {% endfor %}
        
            <div id="ordenOfertas">
                <ul>
                    {% if ofertas_data.has_previous %}
                        <li><a class="nav" class="direccion" href="?page={{ ofertas_data.previous_page_number }}">&lt;</a></li>
                    {% endif %}
                    <li><p class="nav_active">{{ ofertas_data.number }}</p></li>
                    {% if ofertas_data.has_next %}
                        <li><a class="nav" class="direccion" href="?page={{ ofertas_data.next_page_number }}">&gt;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="infoOfertas">
            <i onclick="cerrarInfo()" id="cerrar" class="bi bi-x-lg"></i>
            <div id="elementsOferta">
                <h1></h1>
                <a onclick="modal_Pag('activado')">Aplicar</a>
                <i class="bi bi-person"></i>
                <i class="bi bi-terminal"></i>
                <i class="bi bi-cash"></i>
                <i class="bi bi-briefcase"></i>
                <h2>Descripción</h2>
                <p> 
                </p>
            </div>
        </div>
    </div>

    <div id="modalPago">
        <div id="contentModal">
            <div id="superior">
                <div id="pagos">
                        <h1>Tarjetas de crédito o débito</h1>
                        <div id="pagoImg">

                        </div>
                </div>

            </div>

            <div id="inferior">
                <a onclick="modal_Pag('desactivado')">Atras</a>
                <a>Pagar</a>
            </div>
        </div>
    </div>

    <script>
        /* Con este codigo la ventana de información se re ajuta a la ventana de lista*/
        const listOfertas = document.getElementById('listOfertas');
        const infoOfertas = document.getElementById('infoOfertas');
        
        function updateHeight() {
            const tamañoVentanas = listOfertas.offsetHeight + 40;
            infoOfertas.style.height = tamañoVentanas + 'px';
        }
        
        /* Con este comando se actualiza incluso cuando cambia de tamaño */
        window.addEventListener('resize', updateHeight);
        
        updateHeight();
    </script>
    
    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    
    <script>
        /* ESTO ES PARA HACER DIFERENTES FUNCIONES DEPENDIENDO DE LA RESOLUCIÓN DE LA PANTALLA*/
        var ofertasInfoUrl = "{% url 'OfertasInfo' %}";
    </script>

    <!-- Scripts js -->
    <script src="{% static 'estudiantes/js/Front/navBar.js' %}"></script>
    <script src="{% static 'estudiantes/js/Front/ofertas.js' %}"></script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>