{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static '/css/stInicioS.css' %}">
    <link rel="icon" href="{% static 'empresa/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'empresa/css/mensaje.css' %}" />



    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('show-password').addEventListener('change', function () {
                var passwordInput = document.getElementById('password');
                if (this.checked) {
                    passwordInput.type = 'text'; // mostrar contraseña
                } else {
                    passwordInput.type = 'password'; // ocultar contraseña
                }
            });
        });
    </script> -->
</head>

<body>
        <!-- Mensajes de éxito o error -->
        {% if messages %}
        <div id="alert-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show alert-custom" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    <div class="login-container">
        <div class="logo">
            <img src="{% static 'empresa/img/logo.png' %}" alt="OctooCourse Logo">
        </div>
        <h1><span>Iniciar</span> sesión</h1>
        <form action="{% url 'inicioS' %}" method="post">
            {% csrf_token %}
            <input type="email" id="correo" name="correo" placeholder="Correo electrónico o teléfono">
            <input type="password" id="password" name="password" placeholder="password">
            <button type="submit">Ingresar</button>
        </form>
        <div class="links">
            <a href="#" id="forgot-password-link">¿Olvidaste tu contraseña?</a>
            <a href="{% url 'register' %}">Crear cuenta</a>
        </div>
    </div>

    <!-- Modal -->
    <div id="forgot-password-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Recuperar contraseña</h2>
            <form>
                <input type="email" id="email" name="email" placeholder="Correo electrónico">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>

</body>

</html>