#modalOpciones{
    width: 100%; height: 100%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 6;
    background-color: rgba(34, 34, 34, 0.712);
}

#marcoModal, #agregarModal{
    width: 800px; height: auto;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: var(--fondo1);
    flex-direction: column;
}

#agregarModal{
    height: 60%;
    border: 1px solid var(--borde1);
    overflow-y: auto; overflow-x: hidden;
}

#marcoModal h1, #agregarModal h1{
    font-size: 35px;
    color: var(--letratitulo1);
    border-bottom: 1px solid var(--borde1);
    text-align: center;
}

#marcoModal .minInfo{
    width: 100%;
    display: flex;
}

.minInfo h2{
    width: auto;
    color: var(--letra1);
    border-bottom: 1px solid var(--borde1);
    font-size: 20px;
    margin: 5px;
}

#agregarModal .contentInputs{
    display: flex;
    align-content: center;
    justify-content: center;
}

#agregarModal .contentInputs .minContentInput{
    display: flex;
    margin: 10px;
    width: 100%;
    flex-direction: column;
}

#agregarModal .contentInputs .minContentInput input{
    border: 1px solid var(--borde1);
    border-radius: 10px;
    margin: 0 5px;
}

#agregarModal .contentInputs .minContentInput textarea{
    border: 1px solid var(--borde1);
    border-radius: 10px;
    width: 100%; height: 200px;
}

#agregarModal .contentInputs .minContentInput p{
    text-align: center;
    color: var(--letra1);
    margin: 0;
}

#botonesOpciones{
    margin: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#botonesOpciones a, #botonesOpciones button{
    text-decoration: none;
    text-align: center;
    border: none;
    margin: 10px 5px;
    padding: 0 10px;
    display: block;
    font-size: 20px;
    color: var(--letraBotones1); background-color: var(--fondoBotones1);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#botonesOpciones a:hover, #botonesOpciones button:hover{
    background-color: var(--hFondoBotones1); color: var(--hLetraBotones1);
}

@media screen and (max-width:800px) {
    #marcoModal{
        width: 100%;
    }

    #botonesOpciones{
        display: flex;
        flex-direction: column;
    }

    #agregarModal .contentInputs{
        display: flex;
        flex-direction: column;
    }
}