@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0px; padding: 0px;
    font-family: "Quicksand", sans-serif; font-size: 20px;
}

#navBar{
    background-color: #2e0346;
    width: auto; height: 70px;
    padding: 0px 20px;
    box-shadow: 0px 1px 5px black;
    display: flex;
    align-items: center;
}

#navBar .logOut{
    text-decoration: none;
    margin: 5px auto;
    padding: 0 10px;
    padding-bottom: 2px;
    font-size: 18px;
    color: white; background-color: #8021bb;
    cursor: pointer;
}

/* MENU PC */
#navBar #logo{
    width: 120px; height: 70px;
    margin-left: 20px;
}

#navBar #derecha{
    margin-left: auto;
    display: flex;
    align-items: center;
}

#navBar #btn_icono{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

#navBar #btn_icono:hover{
    color: #8021bb;
}

#navBar #btn_icono_active{
    margin-left: 10px;
    text-decoration: none;
    color: #8021bb;
}

#navBar a i{
    font-size: 30px;
}

#navBar #derecha .linea{
    border-left: 1px solid white;
    height: 50px;
    margin: 0px 10px;
}

#navBar #derecha .options{
    text-decoration: none;
    margin: 0px 20px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#navBar #derecha .options:hover{
    color: #8021bb;
}

#navBar #derecha .options_active{
    text-decoration: none;
    margin: 0px 20px;
    color: #8021bb;
    cursor: default;
    font-size: 15px;
}