{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>

    <link rel="stylesheet" href="{% static 'administrator/css/administrador.css' %}" />
</head>
<body>
    <h1>ADMINISTRADOR</h1>

    <div id="marcoCont">
        <a href="{% url 'login' %}" id="volver"><img id="imgVolver" src="{% static 'administrator/img/casa.png' %}" alt=""></a>

        <img src="{% static 'administrator/img/logo.png' %}" alt="">

        <a href="{% url 'estudiantesAdmin' %}" class="btn">ESTUDIANTE</a>

        <a href="{% url 'empresaAdmin' %}" class="btn">EMPRESA</a>
    </div>
</body>
</html>