{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>

    <link rel="stylesheet" href="{% static 'estudiantes/css/Encab-piepags.css' %}" />
    <link rel="stylesheet" href="{% static 'estudiantes/css/cursosInteracts.css' %}" />
</head>

<body>
    <!-- PREGUNTAS-->
    <!--TIPO 1 -->
    <div class="marco">
        <h1>¿CUAL SERIA TU RESPUESTA?</h1>

        <div id="interact1">
            <div id="A" class="option"></div>
            <div id="B" class="option"></div>
            <div id="C" class="option"></div>
            <div id="D" class="option"></div>
        </div>
    </div>

    <!--TIPO 2 -->
    <div class="marco">
        <h1>¿CUAL SERIA TU RESPUESTA?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor temporibus cum molestias laborum voluptas
            labore sapiente. Illo, eum. Impedit, consequuntur error illo labore voluptatem veniam veritatis totam,
            voluptatibus repellendus, tempore iure mollitia? Cum doloremque tenetur eos vero praesentium
            perspiciatis
            debitis voluptates corporis, exercitationem ipsa porro accusantium similique atque magni corrupti
            provident
            fugiat, perferendis recusandae ipsum ab neque commodi fuga obcaecati? Cumque doloribus et voluptas
            recusandae eveniet fugit ut nostrum nesciunt nihil eligendi minus enim aut, itaque ad possimus, facilis
            quibusdam veritatis veniam aspernatur pariatur illo provident dolorem neque! Accusantium quibusdam natus
            ut
            harum eveniet saepe quod officia delectus! Quidem, iste!</p>

        <div id="interact2">
            <div class="option">OPCION A</div>
            <div class="option">OPCION B</div>
            <div class="option">OPCION C</div>
            <div class="option">OPCION D</div>
        </div>
    </div>

    <div id="btnNext"><a href="{% url 'estudiantes' %}">FINALIZAR</a></div>
    <!-- FIN PREGUNTAS-->

    <!-- RESULTADOS -->
    <!-- FIN RESULTADOS -->

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a>
                        <img src="{% static 'estudiantes/img/logo.png' %}" alt="logo pie-pagina">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                    Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <img src="{% static 'estudiantes/img/icon-facebook.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-youtube.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-correo.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-whatsapp.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>OctooCourse</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>

</html>