{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editOfertas</title>

    <link rel="stylesheet" href="{% static 'administrator/css/Administrador.css' %}" />
</head>
<body>
    <h1>OFERTAS</h1>

    <div id="marcoCont">
        <a href="{% url 'administratorAdmin' %}" id="volver"><img id="imgVolver" src="{% static 'administrator/img/casa.png' %}" alt=""></a>

        <div class="listas">
            <li class="interact">
                <p>PRIMERA OFERTA LABORAL</p>
                <div class="crudLista">
                    <img class="visualizar" src="{% static 'administrator/img/ver.png' %}" alt="">
                    <img class="editar" src="{% static 'administrator/img/editar.png' %}" alt="">
                    <img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt="">
                </div>
            </li>
            <li class="interact">
                <p>SEGUNDA OFERTA LABORAL</p>
                <div class="crudLista">
                    <img class="visualizar" src="{% static 'administrator/img/ver.png' %}" alt="">
                    <img class="editar" src="{% static 'administrator/img/editar.png' %}" alt="">
                    <img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt="">
                </div>
            </li>
            <li class="interact">
                <p>TERCERA OFERTA LABORAL</p>
                <div class="crudLista">
                    <img class="visualizar" src="{% static 'administrator/img/ver.png' %}" alt="">
                    <img class="editar" src="{% static 'administrator/img/editar.png' %}" alt="">
                    <img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt="">
                </div>
            </li>
        </div>
    </div>
</body>
</html>