{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editUsuarios</title>

    <link rel="stylesheet" href="{% static 'administrator/css/administrador.css' %}" />
</head>
<body>
    <h1>ESTUDIANTES</h1>

    <div id="marcoCont">
        <a href="{% url 'administratorAdmin' %}" id="volver"><img id="imgVolver" src="{% static 'administrator/img/casa.png' %}" alt=""></a>

        <div class="listas">
            <li class="interact"><p>PRIMER USUARIO REGISTRADO</p><img class="editar" src="{% static 'administrator/img/editar.png' %}" alt=""><img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt=""></li>
            <li class="interact"><p>SEGUNDO USUARIO REGISTRADO</p><img class="editar" src="{% static 'administrator/img/editar.png' %}" alt=""><img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt=""></li>
            <li class="interact"><p>TERCER USUARIO REGISTRADO</p><img class="editar" src="{% static 'administrator/img/editar.png' %}" alt=""><img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt=""></li>
            <li class="interact"><p>CUARTO USUARIO REGISTRADO</p><img class="editar" src="{% static 'administrator/img/editar.png' %}" alt=""><img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt=""></li>
            <li class="interact"><p>QUINTO USUARIO REGISTRADO</p><img class="editar" src="{% static 'administrator/img/editar.png' %}" alt=""><img class="eliminar" src="{% static 'administrator/img/basura.png' %}" alt=""></li>
        </div>
    </div>
</body>
</html>