{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'empresa/css/encab-piepag.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/Estandar.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/Empleo.css' %}" />


    <!--Link nav bar-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- css -->
    <link rel="stylesheet" href="{% static 'empresa/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'empresa/css/configs.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/estiloNav.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/PublicarOferta.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/VerOferta.css' %}" />
    <link rel="stylesheet" href="{% static 'empresa/css/des_ofertas.css' %}" />


    <!-- Scripts javaScript -->
    <script src="{% static 'empresa/js/navBar.js' %}"></script>

</head>

<body>
    <!-- NAV VAR -->
    <header class="header">
        <div class="izquierda">
            <img src="{% static 'empresa/img/logo.png' %}" alt="Logo pulpo" onclick="Navegacion('estandar')">
        </div>

        <a><button onclick="Navegacion('listaEstud')">ESTUDIANTES</button></a>
        <a><button onclick="Navegacion('empleo')">OFERTAS</button></a>

        <div class="derecha">
            <img class="pc" src="{% static 'empresa/img/user.png' %}" alt="logo Usuario" onclick="MenuPC()">
            <img class="movil" src="{% static 'empresa/img/menuMovil.png' %}" alt="Menu" onclick="MenuMovil()">
        </div>

        <div class="menu-movil">
            <li><a onclick="Navegacion('listaEstud')">Estudiantes</a></li>
            <li><a onclick="Navegacion('empleo')">Ofertas Empleo</a></li>
            <li><a onclick="Navegacion('config')">Configuración</a></li>
            <li><a href="{% url 'login' %}">Salir</a></li>
        </div>

        <div class="menu-compu">
            <li><a onclick="Navegacion('config')">Configuración</a></li>
            <li><a href="{% url 'login' %}">Salir</a></li>
        </div>
    </header>
    <!-- NAV VAR FIN -->

    <!-- ESTANDAR -->
    <div class="estandar">
        <img src="{% static 'empresa/img/1empresa.png' %}" alt="">
    </div>
    <!-- ESTANDAR FIN -->

    <!-- INICIO ESTUDIANTES -->
    <div class="listaEstud">
        <section>
            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>

                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Ally Pearson</span>
                                <span class="profession">Web Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <a href="{% url 'aboutMeStudentAdmin' %}" class="aboutMe">About Me</a>
                                <a href="" class="hireMe">Hire Me</a> <!-- Cambia 'hireMeStudent' a la URL correcta -->
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Lana del Rey</span>
                                <span class="profession">Software Engineer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Olivia Rodrigo</span>
                                <span class="profession">UX/UI Desinger</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Billie Eilish</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Vargas</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Alejo</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Eu</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Cheverongo</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Barbatruquini</span>
                                <span class="profession">Backend Developer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="{% static 'empresa/img/user.png' %}" alt="hola">
                            </div>
                            <div class="media-icons">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="name-profession">
                                <span class="name">Alice</span>
                                <span class="profession">Network Engineer</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="button">
                                <button class="aboutMe">About Me</button>
                                <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{% static 'empresa/js/script.js' %}"></script>
    </div>
    <!-- ESTUDIANTES FIN -->

    <!-- CONFIGURACIONES -->
    <div class="config" style="display: none;">
        <div class="config-container">
            <h1>Perfil Empresa</h1>
            <div class="empresa-form">
                <div class="form-group">
                    <h2>Nombre Empresa</h2>
                    <input type="text">
                    <h2>Correo</h2>
                    <input type="email">

                </div>
                <div class="form-group">
                    <h2>Télefono</h2>
                    <input type="number">
                    <h2>Dirección</h2>
                    <input type="text">
                </div>
            </div>
            <div id="nit">
                <h2>Nit</h2>
                <input type="text">
            </div>
            <button>CONFIGURAR</button>

            <h1>TEMA</h1>
            <div class="empresa-form">
                <button class="botonTemas" id="btn1">CLARO</button>
                <button class="botonTemas" id="btn2">OSCURO</button>
            </div>
        </div>
    </div>
    <!-- CONFIGURACIONES FIN -->

    <!-- OFERTAS EMPLEO -->
    <div class="empleo">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="mostrarPublicarOferta()">Publicar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="mostrarOferta()">Ofertas</a>
            </li>
        </ul>

        <div class="hola">Hola bienvenido</div>

        <div class="veroferta" style="display: none;">
            <img src="{% static 'estudiantes/img/ofertasSup.png' %}" alt="">
            <div class="tablaOfertas">
                <div class="casillaOferta">
                    <div class="informacionOferta">
                        <h2>TITULO OFERTA</h2>
                        <p>La naturaleza siempre ha sido una fuente inagotable de inspiración para el ser humano. Desde
                            el
                            susurro del viento entre los árboles hasta el canto armonioso de los pájaros al amanecer,
                            cada
                            detalle refleja la belleza intrínseca del mundo en el que vivimos. Sin embargo, en la era
                            moderna, la conexión con el entorno natural parece haberse debilitado. La urbanización y el
                            ritmo acelerado de la vida han llevado a muchas personas a olvidarse de la serenidad y el
                            equilibrio que la naturaleza puede proporcionar. No obstante, es fundamental recordar la
                            importancia de preservar nuestros ecosistemas, no solo por el bienestar de las generaciones
                            futuras, sino también por el nuestro. La biodiversidad no es simplemente un término
                            científico;
                            es un recordatorio de que todos los seres vivos, grandes y pequeños, tienen un papel
                            esencial en
                            el equilibrio de la vida. A medida que avanzamos hacia un futuro incierto, debemos
                            esforzarnos
                            por encontrar formas de coexistir de manera armoniosa con nuestro planeta, protegiendo sus
                            recursos y respetando su sabiduría milenaria.</p>
                    </div>
                    <div class="entrarOferta" onclick="Navegacion('des_ofertas')">VER</div>
                </div>
                <div class="casillaOferta">
                    <div class="informacionOferta">
                        <h2>TITULO OFERTA</h2>
                        <p>La naturaleza siempre ha sido una fuente inagotable de inspiración para el ser humano. Desde
                            el
                            susurro del viento entre los árboles hasta el canto armonioso de los pájaros al amanecer,
                            cada
                            detalle refleja la belleza intrínseca del mundo en el que vivimos. Sin embargo, en la era
                            moderna, la conexión con el entorno natural parece haberse debilitado. La urbanización y el
                            ritmo acelerado de la vida han llevado a muchas personas a olvidarse de la serenidad y el
                            equilibrio que la naturaleza puede proporcionar. No obstante, es fundamental recordar la
                            importancia de preservar nuestros ecosistemas, no solo por el bienestar de las generaciones
                            futuras, sino también por el nuestro. La biodiversidad no es simplemente un término
                            científico;
                            es un recordatorio de que todos los seres vivos, grandes y pequeños, tienen un papel
                            esencial en
                            el equilibrio de la vida. A medida que avanzamos hacia un futuro incierto, debemos
                            esforzarnos
                            por encontrar formas de coexistir de manera armoniosa con nuestro planeta, protegiendo sus
                            recursos y respetando su sabiduría milenaria.</p>
                    </div>
                    <div class="entrarOferta" onclick="Navegacion('des_ofertas')">VER</div>
                </div>
                <div class="casillaOferta">
                    <div class="informacionOferta">
                        <h2>TITULO OFERTA</h2>
                        <p>La naturaleza siempre ha sido una fuente inagotable de inspiración para el ser humano. Desde
                            el
                            susurro del viento entre los árboles hasta el canto armonioso de los pájaros al amanecer,
                            cada
                            detalle refleja la belleza intrínseca del mundo en el que vivimos. Sin embargo, en la era
                            moderna, la conexión con el entorno natural parece haberse debilitado. La urbanización y el
                            ritmo acelerado de la vida han llevado a muchas personas a olvidarse de la serenidad y el
                            equilibrio que la naturaleza puede proporcionar. No obstante, es fundamental recordar la
                            importancia de preservar nuestros ecosistemas, no solo por el bienestar de las generaciones
                            futuras, sino también por el nuestro. La biodiversidad no es simplemente un término
                            científico;
                            es un recordatorio de que todos los seres vivos, grandes y pequeños, tienen un papel
                            esencial en
                            el equilibrio de la vida. A medida que avanzamos hacia un futuro incierto, debemos
                            esforzarnos
                            por encontrar formas de coexistir de manera armoniosa con nuestro planeta, protegiendo sus
                            recursos y respetando su sabiduría milenaria.</p>
                    </div>
                    <div class="entrarOferta" onclick="Navegacion('des_ofertas')">VER</div>
                </div>
                <div class="casillaOferta">
                    <div class="informacionOferta">
                        <h2>TITULO OFERTA</h2>
                        <p>La naturaleza siempre ha sido una fuente inagotable de inspiración para el ser humano. Desde
                            el
                            susurro del viento entre los árboles hasta el canto armonioso de los pájaros al amanecer,
                            cada
                            detalle refleja la belleza intrínseca del mundo en el que vivimos. Sin embargo, en la era
                            moderna, la conexión con el entorno natural parece haberse debilitado. La urbanización y el
                            ritmo acelerado de la vida han llevado a muchas personas a olvidarse de la serenidad y el
                            equilibrio que la naturaleza puede proporcionar. No obstante, es fundamental recordar la
                            importancia de preservar nuestros ecosistemas, no solo por el bienestar de las generaciones
                            futuras, sino también por el nuestro. La biodiversidad no es simplemente un término
                            científico;
                            es un recordatorio de que todos los seres vivos, grandes y pequeños, tienen un papel
                            esencial en
                            el equilibrio de la vida. A medida que avanzamos hacia un futuro incierto, debemos
                            esforzarnos
                            por encontrar formas de coexistir de manera armoniosa con nuestro planeta, protegiendo sus
                            recursos y respetando su sabiduría milenaria.</p>
                    </div>
                    <div class="entrarOferta" onclick="Navegacion('des_ofertas')">VER</div>
                </div>
            </div>
        </div>


        <div class="publicar-oferta" style="display: none;">
            <form class="form-container">
                <h2 id="titloP">Nombre de la Empresa</h2>

                <div class="form-section">
                    <label for="nombreOferta">Nombre de la oferta</label>
                    <input type="text" id="nombreOferta" name="nombreOferta" placeholder="Ej. Desarrollador Junior"
                        required>
                </div>

                <div class="form-section">
                    <label for="descripcionOferta">Descripción de la oferta</label>
                    <textarea id="descripcionOferta" name="descripcionOferta"
                        placeholder="Ej. Descripción detallada de la oferta" maxlength="1000" required></textarea>
                </div>

                <div class="form-section">
                    <button type="submit">Publicar oferta</button>
                </div>
            </form>
        </div>
        <script src="{% static 'empresa/js/script.js' %}"></script>
    </div>
    <!-- OFERTAS EMPLEO FIN -->

    <!-- DES_OFERTAS -->
    <div class="des_ofertas" style="display: none">
        <div class="marco_ofertas">
            <div class="titulo">
                <h1>
                    AQUÍ VA EL TITULO
                    <span class="media-icons">
                        <i class="fas fa-sync-alt"></i>
                        <i class="fas fa-trash"></i>
                    </span>
                </h1>
            </div>
            <p>La naturaleza siempre ha sido una fuente inagotable de inspiración para el ser humano...
                You leave in the morning with
                everything you own in a little black case
                Alone on a platform, the wind and the rain on a sad and lonely face
                Mother will never understand why you had to leave
                But the answers you seek will never be found at home
                The love that you need will never be found at home
                Run away, turn away, run away, turn away, run away
                Run away, turn away, run away, turn away, run away
                Pushed around and kicked around, always a lonely boy
                You were the one that they'd talk
                about around town as they put you down
                And as hard as they would try, they'd hurt to make you cry
                But you never cried to them, just to your soul
                No, you never cried to them, just to your soul
                Run away, turn away, run away,
                turn away, run away (crying to your soul)
                Run away, turn away, run away,
                turn away, run away (crying to your soul)
                Run away, turn away, run away,
                turn away, run away (crying to your soul)
                Run away, turn away, run away, turn away, run away
                Cry, boy, cry
            </p>
            <div class="marco_inferior">
                <h2>Personas aplicadas: 10</h2>
            </div>
        </div>
    </div>
    <!-- DES_OFERTAS FIN -->



    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a>
                        <img src="{% static 'empresa/img/logo.png' %}" alt="logo pie-pagina" onclick="MenuEstandar()">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>
                    Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <img src="{% static 'estudiantes/img/icon-facebook.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-youtube.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-correo.svg' %}" alt="">
                    <img src="{% static 'estudiantes/img/icon-whatsapp.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>OctooCourse</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>

</html>