{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar HV</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'administrator/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/estudiantes.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/hojaVida.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/modalsModify.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'administrator/js/Front/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'administrator/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a id="btn_icono" onclick="cambiarTema()" style="cursor: pointer;"><i class="bi bi-brilliance"></i></a>
            <div class="linea"></div>
            <a id="btn_icono" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </header>

    <div id="marcoEstudiantes">
        <div id="botonesConfig">
            <a id="btnIzquierda" onclick="modalConfig('hvMActive')"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'estudiantesAdmin' %}"><i class="bi bi-house"></i></a>
        </div>

        <!-- HOJA DE VIDA -->
        <div id="modalHV">
            <div id="hojaVida">
                <div class="marco">
                    <div class="izquierda">
                        <i id="imgPerfil" class="bi bi-person-circle"></i>
        
                        <h1>DATOS PERSONALES</h1>
                        <div class="minContent">
                            <i class="fab fa-whatsapp"></i>
                            <!-- De esta forma encontramos los datos de la tabla -->
                            {% if hojasDeVida %}
                                <h2>{{ hojasDeVida.telefono }}</h2>
                            {% endif %}
                            
                        </div>
                        <div class="minContent">
                            <i class="bi bi-geo-alt"></i>
                            {% if hojasDeVida %}
                                <h2>{{ hojasDeVida.direccion.strip }}</h2>
                            {% endif %}
                        </div>
        
                        <h1>APTITUDES</h1>
                        <div class="lista">
                            {% if aptitudes %}
                                {% for aptitud in aptitudes %}
                                    <h2>{{ aptitud.nombre_apt.strip }}</h2>
                                {% endfor %}
                            {% endif %}
                        </div>
        
                        <h1>IDIOMAS</h1>
                        {% if idiomas %}
                            {% for idioma in idiomas %}
                                <div class="minContent">
                                    <i class="bi bi-emoji-laughing"></i>
                                    <h2>{{ idioma.nivel.strip }}</h2>
                                    <h2>{{ idioma.idioma.strip }}</h2>
                                </div>
                            {% endfor %}
                        {% endif %}
        
                        <h1>LENGUAJES</h1>
                        <div class="lista">
                            {% if lenguajesProg %}
                                {% for lenguaje in lenguajesProg %}
                                    <h2>{{ lenguaje.nombre_leng.strip }}</h2>
                                {% endfor %}
                            {% endif %}
                        </div>
        
                    </div>
                    <div class="derecha">
                        <div id="derechaTitle">
                            {% if estudiantes %}
                                <h3>{{ estudiantes.nom_estudiante.strip|upper }} {{ estudiantes.apellido.strip|upper }}</h3>
                            {% endif %}
                            {% if estudiantes %}
                                <h2>{{ estudiantes.correo_estudiante.strip }}</h2>
                            {% endif %}
                        </div>
                        
        
                        <h1>EXPERIENCIA LABORAL</h1>
                        {% if expLaborales %}
                            {% for expLaboral in expLaborales %}
                                <div class="infoExp">
                                    <h2>{{ expLaboral.cargo.strip }}</h2>
                                    <h4>{{ expLaboral.nombre_leng.strip }}</h4>
                                    <h4>{{ expLaboral.tiempo_inicio }} / {{ expLaboral.tiempo_final }}</h4>
                                    <p>DESCRIPCION:{{ expLaboral.descripcion.strip }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="infoExp">
                                <h2>NOMBRE_CARGO</h2>
                                <h4>NOMBRE_EMPRESA</h4>
                                <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                                <p>DESCRIPCION:</p>
                            </div>
                        {% endif %}
        
                        <h1>FORMACIÓN ACADÉMICA</h1>
                        {% if formaciones %}
                            {% for formacion in formaciones %}
                                <div class="infoExp">
                                    <h2>{{ formacion.titulo.strip }}</h2>
                                    <h4>{{ formacion.nom_institucion.strip }}</h4>
                                    <h4>{{ formacion.fecha_inicio }} / {{ formacion.fecha_final }}</h4>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="infoExp">
                                <h2>NOMBRE_TITULO</h2>
                                <h4>NOMBRE_INSTITUCIÓN</h4>
                                <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modalConfig">
        <!-- MODIFICAR HOJA DE VIDA -->
        <form id="modalHVM" method="POST" action="{% url 'guardarHVAdmin' %}">
            <h1>MODIFICAR HOJA DE VIDA</h1>
            <h3>Datos Personales</h3>
            <div class="elementsModify">
                <div class="oneElementModify">
                    <p>Celular</p>
                    {% if hojasDeVida %}
                        <input type="number" value="{{ hojasDeVida.telefono }}" name="telefono">
                    {% else %}
                        <input type="number" name="telefono">
                    {% endif %}
                </div>
                <div class="oneElementModify">
                    <p>Dirección</p>
                    {% if hojasDeVida %}
                        <input type="text" value="{{ hojasDeVida.direccion.strip }}" name="direccion">
                    {% else %}
                        <input type="text" name="direccion">
                    {% endif %}
                </div>
            </div>

            <h3>Aptitudes</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de aptitudes a mostrar.</p>
            <div class="elementsModify">
                {% if aptitudes %}
                    <!-- Con este ciclo recorro la 3 primera aptitudes -->
                    {% for aptitud in aptitudes|slice:":3" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter }}</p>
                            <input type="text" value="{{ aptitud.nombre_apt.strip }}" name="aptitud_{{ forloop.counter }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>1</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>2</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>3</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>

            <div class="elementsModify">
                {% if aptitudes %}
                    <!-- Con este ciclo recorro luego de la tercera aptitud -->
                    {% for aptitud in aptitudes|slice:"3:" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter|add:"3" }}</p>
                            <input type="text" value="{{ aptitud.nombre_apt.strip }}" name="aptitud_{{ forloop.counter|add:'3' }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>4</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>5</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>

            <h3>Idiomas</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de idiomas a mostrar.</p>
            <div class="elementsModify">
                {% if idiomas %}
                    <!-- Con este ciclo recorro las 3 primera aptitudes -->
                    {% for idioma in idiomas|slice:":3" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter }}</p>
                            <input type="text" value="{{ idioma.idioma.strip }}" name="idioma_{{ forloop.counter }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>1</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>2</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>3</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>

            <p>Nivel de los idiomas (A1, A2, B1, B2, C1, C2, NATIVO)</p>
            <div class="elementsModify">
                {% if idiomas %}
                    <!-- Con este ciclo recorro las 3 primera aptitudes -->
                    {% for idioma in idiomas|slice:":3" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter }}</p>
                            <input type="text" value="{{ idioma.nivel.strip }}" name="nivel_{{ forloop.counter }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>1</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>2</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>3</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>

            <h3>Lenguajes_Programación</h3>
            <p>Dejar algún campo vacío implica reducir la cantidad de conocimientos a mostrar.</p>
            <div class="elementsModify">
                {% if lenguajesProg %}
                    <!-- Con este ciclo recorro las 3 primera aptitudes -->
                    {% for lenguaje in lenguajesProg|slice:":3" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter }}</p>
                            <input type="text" value="{{ lenguaje.nombre_leng.strip }}" name="lenguajeProg_{{ forloop.counter }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>1</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>2</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>3</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>
            <div class="elementsModify">
                {% if lenguajesProg %}
                    <!-- Con este ciclo recorro las 3 primera aptitudes -->
                    {% for lenguaje in lenguajesProg|slice:"3:" %}
                        <div class="oneElementModify">
                            <!-- Con esta variable contamos las veces que se a iterado el ciclo -->
                            <p>{{ forloop.counter|add:"3" }}</p>
                            <input type="text" value="{{ lenguaje.nombre_leng.strip }}" name="lenguajeProg_{{ forloop.counter|add:'3' }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="oneElementModify">
                        <p>4</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>5</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>6</p>
                        <input type="text">
                    </div>
                {% endif %}
            </div>

            <!-- EXPERIENCIAS LABORALES -->
            {% if expLaborales %}
                <!-- Con este ciclo recorro las 3 primera aptitudes -->
                {% for expLaboral in expLaborales %}
                    <H3>Experiencia laboral {{ forloop.counter }}</H3>
                    <div class="elementsModify">
                        <div class="oneElementModify">
                            <p>Cargo</p>
                            <input type="text" value="{{ expLaboral.cargo.strip }}" name="exp_cargo_{{ forloop.counter }}">
                        </div>
                        <div class="oneElementModify">
                            <p>Empresa</p>
                            <input type="text" value="{{ expLaboral.nom_empresas.strip }}" name="exp_empresa_{{ forloop.counter }}">
                        </div>
                    </div>
                    <div class="elementsModify">
                        <div class="oneElementModify">
                            <p>Fecha inicio</p>
                            <input type="date" value="{{ expLaboral.tiempo_inicio|date:'Y-m-d' }}" name="exp_tiempoIni_{{ forloop.counter }}">
                        </div>
                        <div class="oneElementModify">
                            <p>Fecha final</p>
                            <input type="date" value="{{ expLaboral.tiempo_final|date:'Y-m-d' }}" name="exp_tiempoFin_{{ forloop.counter }}">
                        </div>
                    </div>
                    <div class="elementsModify">
                        <div class="oneElementModify">
                            <p>Descripción</p>
                            <textarea name="exp_description_{{ forloop.counter }}">{{ expLaboral.descripcion.strip }}</textarea>
                        </div>
                    </div>
                    
                {% endfor %}
            {% else %}
                <h3>Experiencia laboral 1</h3>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Cargo</p>
                        <input type="text" value="ola">
                    </div>
                    <div class="oneElementModify">
                        <p>Empresa</p>
                        <input type="text">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Fecha inicio</p>
                        <input type="date">
                    </div>
                    <div class="oneElementModify">
                        <p>Fecha final</p>
                        <input type="date">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Descripción</p>
                        <textarea></textarea>
                    </div>
                </div>

                <h3>Experiencia laboral 2</h3>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Cargo</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>Empresa</p>
                        <input type="text">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Fecha inicio</p>
                        <input type="date">
                    </div>
                    <div class="oneElementModify">
                        <p>Fecha final</p>
                        <input type="date">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Descripción</p>
                        <textarea></textarea>
                    </div>
                </div>
            {% endif %}

            <!-- FORMACIONES ACADEMICAS -->
            {% if formaciones %}
                <!-- Con este ciclo recorro las 3 primera aptitudes -->
                {% for formacion in formaciones %}
                    <h3>Formación Académica {{ forloop.counter }}</h3>
                    <div class="elementsModify">
                        <div class="oneElementModify">
                            <p>Título</p>
                            <input type="text" value="{{ formacion.titulo.strip }}" name="academ_titulo_{{ forloop.counter }}">
                        </div>
                        <div class="oneElementModify">
                            <p>Institución</p>
                            <input type="text" value="{{ formacion.nom_institucion.strip }}" name="academ_institu_{{ forloop.counter }}">
                        </div>
                    </div>
                    <div class="elementsModify">
                        <div class="oneElementModify">
                            <p>Fecha inicio</p>
                            <input type="date" value="{{ formacion.fecha_inicio|date:'Y-m-d' }}" name="academ_fechaIni_{{ forloop.counter }}">
                        </div>
                        <div class="oneElementModify">
                            <p>Fecha final</p>
                            <input type="date" value="{{ formacion.fecha_final|date:'Y-m-d' }}" name="academ_fechaFin_{{ forloop.counter }}">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Formación Académica 1</h3>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Título</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>Institución</p>
                        <input type="text">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Fecha inicio</p>
                        <input type="date">
                    </div>
                    <div class="oneElementModify">
                        <p>Fecha final</p>
                        <input type="date">
                    </div>
                </div>

                <h3>Formación Académica 2</h3>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Título</p>
                        <input type="text">
                    </div>
                    <div class="oneElementModify">
                        <p>Institución</p>
                        <input type="text">
                    </div>
                </div>
                <div class="elementsModify">
                    <div class="oneElementModify">
                        <p>Fecha inicio</p>
                        <input type="date">
                    </div>
                    <div class="oneElementModify">
                        <p>Fecha final</p>
                        <input type="date">
                    </div>
                </div>
            {% endif %}

            <div class="botones">
                <a onclick="modalConfig('hvMDesactive')" class="btnIzquierda">Regresar</a>
                <button type="submit">Aplicar</button>
            </div>
        </form>
    </div>
    
    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    <!-- Scripts AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Scripts js -->
    <script src="{% static 'administrator/js/Front/navBar.js' %}"></script>
    <script src="{% static 'administrator/js/Front/modalModify.js' %}"></script>
    <script src="{% static 'administrator/js/Front/cambiarTem.js' %}"></script>

    <script src="{% static 'administrator/js/DataBase/ConfigData.js' %}"></script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>