{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cursos</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'administrator/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/cursos.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/modal.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'administrator/js/Front/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'administrator/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a id="btn_icono" onclick="cambiarTema()" style="cursor: pointer;"><i class="bi bi-brilliance"></i></a>
            <div class="linea"></div>
            <a id="btn_icono" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </header>

    <div id="marcoCursos">
        <a id="volverBoton" href="{% url 'administratorAdmin' %}"><i class="bi bi-house"></i></a>
        <div id="listaOpciones">
            {% if cursos %}
                {% for curso in cursos %}
                    <div class="marcoOpcion" onclick="modalOpenExit('active', 'cursos', this)">
                        <h3 id="nombreInfo">{{ curso.nom_curso.strip|upper }}</h3>
                        <p id="precioInfo">{{ curso.precio }}</p>
                        <p id="lenguajeInfo">{{ curso.lenguaje }}</p>
                        <p id="nivelInfo">{{ curso.dificultad }}</p>
                        <p id="tiempoInfo">{{ curso.tiempo }}</p>
                        <p id="certificadoInfo">
                            {% if curso.certificado == 0 %}
                                Sin Certificado
                            {% elif curso.certificado == 1 %}
                                Con Certificado
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="modalOpciones">
        <div id="marcoModal">
            <h1 id="nombreRecib"></h1>
            <div class="minInfo"><h2>Precio: </h2><h2 id="precioRecib"></h2></div>
            <div class="minInfo"><h2>Lenguaje: </h2><h2 id="lenguajeRecib"></h2></div>
            <div class="minInfo"><h2>Nivel: </h2><h2 id="nivelRecib"></h2></div>
            <div class="minInfo"><h2>Tiempo: </h2><h2 id="tiempoRecib"></h2></div>
            <div class="minInfo"><h2>Certificado: </h2><h2 id="certificadoRecib"></h2></div>

            <div id="botonesOpciones">
                <a>Modificar curso</a>
                <a>Eliminar curso</a>
                <a onclick="modalOpenExit('desactive', 'cursos', this)">Salir</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    <!-- Scripts js -->
    <script src="{% static 'administrator/js/Front/navBar.js' %}"></script>
    <script src="{% static 'administrator/js/Front/modal.js' %}"></script>
    <script src="{% static 'administrator/js/Front/cambiarTem.js' %}"></script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>