{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>

    <!-- Scripts css -->
    <link rel="stylesheet" href="{% static 'administrator/css/navBar.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/cursos.css' %}" />
    <link rel="stylesheet" href="{% static 'administrator/css/modal.css' %}" />

    <!-- Cargar tema -->
    <script src="{% static 'administrator/js/Front/Temas.js' %}"></script>

    <!-- Imagenes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Botstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body style="background-color: var(--fondo1);">
    <!-- NavBar -->
    <header id="navBar">
        <img id="logo" src="{% static 'administrator/img/navBar/Logo2.png' %}" alt="">

        <!-- MENU PC -->
        <div id="derecha">
            <a id="btn_icono" onclick="cambiarTema()" style="cursor: pointer;"><i class="bi bi-brilliance"></i></a>
            <div class="linea"></div>
            <a id="btn_icono" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </header>

    <div id="marcoCursos">
        <div id="botonesConfig">
            <a id="btnIzquierda" onclick="marcoAgregar('active')"><i class="bi bi-plus-lg"></i></a>
            <a href="{% url 'administratorAdmin' %}"><i class="bi bi-house"></i></a>
        </div>
        <div id="listaOpciones">
            {% if cursos %}
                {% for curso in cursos %}
                    <div class="marcoOpcion" onclick="modalOpenExit('active', 'cursos', this)">
                        <h3 id="nombreInfo">{{ curso.nom_curso.strip|upper }}</h3>
                        <p id="documentoInfo">{{ curso.id_curso }}</p>
                        <p id="precioInfo">{{ curso.precio }}</p>
                        <p id="lenguajeInfo">{{ curso.id_tipo_contenido.nombre_tipo }}</p>
                        <p id="nivelInfo">{{ curso.id_tipo_dificultad.nombre_tipo }}</p>
                        <p id="tiempoInfo">{{ curso.id_tipo_duracion.nombre_tipo }}</p>
                        <p id="certificadoInfo">{{ curso.id_tipo_certificado.nombre_tipo }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="modalOpciones">
        <div id="marcoModal">
            <h1 id="nombreRecib"></h1>
            <div class="minInfo"><h2>ID: </h2><h2 id="documentoRecib"></h2></div>
            <div class="minInfo"><h2>Precio: </h2><h2 id="precioRecib"></h2></div>
            <div class="minInfo"><h2>Contenido: </h2><h2 id="lenguajeRecib"></h2></div>
            <div class="minInfo"><h2>Nivel: </h2><h2 id="nivelRecib"></h2></div>
            <div class="minInfo"><h2>Tiempo: </h2><h2 id="tiempoRecib"></h2></div>
            <div class="minInfo"><h2>Certificado: </h2><h2 id="certificadoRecib"></h2></div>

            <div id="botonesOpciones">
                <a onclick="editInformation('editar')">Modificar curso</a>
                <a onclick="editInformation('eliminar')">Eliminar curso</a>
                <a onclick="modalOpenExit('desactive', 'cursos', this)">Salir</a>
            </div>
        </div>

        <form id="agregarModal" class="FormAjax" method="POST" action="{% url 'cursoAñadir' %}">
            <h1>Crear Curso</h1>

            <div class="contentInputs">
                <div class="minContentInput">
                    <p>Nombre</p>
                    <input type="text" name="nombreCurso">
                </div>
                <div class="minContentInput">
                    <p>Precio</p>
                    <input type="number" name="precio">
                </div>
                <div class="minContentInput">
                    <p>Contenido</p>
                    <select name="contenido">
                        {% for contenido in tipoContenido %}
                            <option value="{{ contenido.id_tipo_contenido }}">
                                {{ contenido.nombre_tipo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="contentInputs">
                <div class="minContentInput">
                    <p>Dificultad</p>
                    <select name="dificultad">
                        {% for dificultad in tipoDificultad %}
                            <option value="{{ dificultad.id_tipo_dificultad }}">
                                {{ dificultad.nombre_tipo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="minContentInput">
                    <p>Tiempo</p>
                    <select name="tiempo">
                        {% for duracion in tipoDuracion %}
                            <option value="{{ duracion.id_tipo_duracion }}">
                                {{ duracion.nombre_tipo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="minContentInput">
                    <p>Certificado</p>
                    <select name="certificado">
                        {% for certificado in tipoCertificado %}
                            <option value="{{ certificado.id_tipo_certificado }}">
                                {{ certificado.nombre_tipo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="contentInputs">
                <div class="minContentInput">
                    <p>Descripción</p>
                    <textarea name="descripcion"></textarea>
                </div>
            </div>

            <div id="botonesOpciones">
                <button type="submit">Añadir</button>
                <a onclick="marcoAgregar('desactive')">Salir</a>
            </div>
        </form>
    </div>

    <script>
        function editInformation(dato){
            const idCurso = document.getElementById('documentoRecib').innerText;
            const idParametro = encodeURIComponent(idCurso);
            
            if (dato == "editar"){
                var cursoInfoUrl = "{% url 'cursoEditar' %}";
            }else if(dato == "eliminar"){
                var cursoInfoUrl = "{% url 'cursoEliminar' %}";
            }

            window.location.href = `${cursoInfoUrl}?idCurso=${idParametro}`;
        }
    </script>

    <!-- Footer -->
    <footer class="piePag">
        <div id="Marco1">
            <div class="Elementos">
                <h1>SOBRE NOSOTROS</h1>
                <p>Somos OctooCourse, ofrecemos cursos para reforzar el aprendizaje de amantes a la programación,
                    también contamos con ofertas de empleo para generar
                    oportunidades y llegar al camino del éxito.
                </p>
            </div>
            <div class="Elementos">
                <h1>SÍGUENOS</h1>
                <div id="redes">
                    <a href="https://whatsapp.com" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61567434383968" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/octoocourse/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@OctooCourse" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div id="Marco2">&copy; 2024 OctooCourse - Todos los Derechos Reservados.</div>
    </footer>

    <!-- Scripts AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Scripts js -->
    <script src="{% static 'administrator/js/Front/navBar.js' %}"></script>
    <script src="{% static 'administrator/js/Front/modal.js' %}"></script>
    <script src="{% static 'administrator/js/Front/cambiarTem.js' %}"></script>

    <script src="{% static 'administrator/js/DataBase/ConfigData.js' %}"></script>

    <!-- Scripts Botstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>