{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Vida - {{ estudiante.nom_estudiante }} {{ estudiante.apellido }}</title>
    <link rel="icon" href="{% static 'empresa/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'empresa/css/aboutMe.css' %}" />

</head>
<body>
    <button class="back-button" onclick="history.back()">Regresar</button>
    <div class="container">
        <header>
            <img class="profile-img" src="{% static 'empresa/img/user.png' %}" alt="{{ estudiante.nombre }} {{ estudiante.apellido }}">
            <h1>{{ estudiante.nom_estudiante }} {{ estudiante.apellido }}</h1>
        </header>

        <section class="section">
            <h2>Datos Personales</h2>
            <div class="info-item">
                <img src="{% static 'estudiantes/img/icon-correo2.svg' %}" alt="tipodoc">
                <p>{{ estudiante.tipo_id }}</p>
            </div>
            <div class="info-item">
                <img src="{% static 'estudiantes/img/icon-correo2.svg' %}" alt="id">
                <p>{{ estudiante.id_estudiante }}</p>
            </div>
            <div class="info-item">
                <img src="{% static 'estudiantes/img/icon-correo2.svg' %}" alt="Correo">
                <p>{{ estudiante.correo_estudiante }}</p>
            </div>
            <div class="info-item">
                <img src="{% static 'estudiantes/img/icon-ubicacion.svg' %}" alt="fecha">
                <p>{{ estudiante.fecha_nac }}</p>
            </div>
        </section>

        <section class="section">
            <h2>Aptitudes</h2>
            <div class="skills">
                {% if aptitudes %}
                    {% for aptitud in aptitudes %}
                        <span class="skill-tag">{{ aptitud.nombre_apt }}</span>
                    {% endfor %}
                {% else %}
                    <p>No se encontraron aptitudes.</p>
                {% endif %}
            </div>
        </section>
        
        <section class="section">
            <h2>Idiomas</h2>
            <div class="languages">
                {% if idiomas %}
                    {% for idioma in idiomas %}
                        <div class="language-tag">
                            <h2>{{ idioma.idioma }}</h2>
                            <p>Nivel: {{ idioma.nivel }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se encontraron idiomas.</p>
                {% endif %}
            </div>
        </section>
        
        <section class="section">
            <h2>Lenguajes</h2>
            <div class="knowledge">
                {% if lenguajesProg %}
                    {% for lenguaje in lenguajesProg %}
                        <span class="knowledge-tag">{{ lenguaje.nombre_leng.strip }}</span>
                    {% endfor %}
                {% else %}
                    <p>No se encontraron lenguajes.</p>
                {% endif %}
            </div>
        </section>

        <section class="section">
            <h2>Formación Académica</h2>
            {% if formaciones %}
                            {% for formacion in formaciones %}
                                <div class="infoExp">
                                    <h2>{{ formacion.titulo.strip }}</h2>
                                    <h4>{{ formacion.nom_institucion.strip }}</h4>
                                    <h4>{{ formacion.fecha_inicio }} / {{ formacion.fecha_final }}</h4>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="infoExp">
                                <h2>NOMBRE_TITULO</h2>
                                <h4>NOMBRE_INSTITUCIÓN</h4>
                                <h4>TIEMPO_INICIO / TIEMPO_FINAL</h4>
                            </div>
                        {% endif %}
        </section>

        <section class="section">
            <h2>Experiencia Laboral</h2>
            {% if expLaborales %}
                {% for experiencia in expLaborales %}
                    <div class="experience-item">
                        <h3>{{ experiencia.cargo }}</h3>
                        <p><strong>{{ experiencia.empresa }}</strong></p>
                        <p>{{ experiencia.fecha_inicio }} - {{ experiencia.fecha_fin }}</p>
                        <p>{{ experiencia.descripcion }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No se encontró experiencia laboral.</p>
            {% endif %}
        </section>
        <button class="print-button" onclick="window.print()">Imprimir CV</button>
        {% if nit_empresa %}
            <a href="mailto:{{ estudiante.correo_estudiante }}?subject=Oferta%20de%20trabajo" class="cv-button hire-button">Contratar</a>
        {% else %}
            <p>Debes estar logueado como empresa para enviar un correo.</p>
        {% endif %}
        </div>

    <footer>
        <p>&copy; 2024 OctooCourse - Todos los Derechos Reservados</p>
    </footer>
</body>
</html>