#MarcoConfig {
    width: 800px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#MarcoConfig h1 {
    padding: 10px 0;
    font-size: 25px;
    background-color: var(--fondoTitulo2);
    color: var(--letraTitulo2);
    text-align: center;
    
}




.marcoOpcion {
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--borde1);
    background-color: var(--fondoBotones2);
    cursor: pointer;
    display: flex;
    
}

.marcoOpcion:hover{
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.marcoOpcion i {
    color: var(--fondoBotones1);
    margin: 25px 10px;
    margin-left: auto;
    font-size: 30px;
    font-weight: normal;
}

.marcoOpcion #document {
    color: var(--letra1);
    margin: 0 10px;
    font-size: 65px;
    font-weight: normal;
}

.marcoOpcion h2 {
    color: var(--letra1);
    margin: 30px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: normal;
}

.seleccionador {
    font-size: 65px;
}



@media screen and (max-width:800px) {
    #MarcoConfig {
        width: auto;
    }

    #MarcoConfig a {
        margin: 5px auto;
        font-size: 20px;
    }

    .marcoOpcion {
        height: auto;
    }

    .marcoOpcion #document {
        font-size: 35px;
    }

    .marcoOpcion h2 {
        margin: auto;
        font-size: 15px;
        font-weight: normal;
    }

    .marcoOpcion i {
        margin: auto 5px;
        margin-left: auto;
        font-size: 15px;
        font-weight: normal;
    }
}







#modalMisDatos {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(138, 43, 226, 0.2);
    width: 90%;
    max-width: 800px;
    z-index: 9999;
    transition: all 0.3s ease;
}



#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(138, 43, 226, 0.4);
    backdrop-filter: blur(5px);
    z-index: 9998;
    display: none;
    transition: all 0.3s ease;
}

.contenidoModal {
    width: 100%;
    margin-top: 25px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    color: #2e0346;
    margin-bottom: 20px;
    text-align: center;
}

.campo-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    padding: 10px;
    background-color: #f8f4ff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.campo:hover {
    background-color: #f0e6ff;
}

.campo label {
    font-weight: 600;
    color: #5e35b1;
}

.campo span {
    font-size: 1rem;
    color: #131116;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #5e35b1;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #7e57c2;
}